.ingredient_item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc((100% - 24px) / 2);
	text-align: center;

	&__image {
		height: 120px;
		max-width: 240px;
	}

	&__price {
		display: flex;
		gap: 8px;
		align-items: center;
	}
}
