.ingredient_item {
	width: calc(50% - 12px);

	&__image {
		height: 120px;
		max-width: 240px;
	}

	&__price {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	&__link {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: center;
		color: var(--text-primary-color);
		text-decoration: none;
	}
}
