:root {
	color: white;
	font-weight: normal;
	font-size: 16px;
	font-family: 'Jet Brains Mono', sans-serif;
	line-height: 1.5;
	text-align: left;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	width: 100%;
	min-width: 320px;
	height: 100vh;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
