.burger_ingredients {
	display: flex;
	flex-direction: column;

	&__tabs {
		display: flex;
	}

	&__groups {
		display: flex;
		flex-direction: column;
		height: calc(100vh - 324px);
		overflow-y: auto;
	}
}
